# pivot_table

数据透视表是一种用于汇总分析数据的方法，python中支持数据透视表的函数是pivot_table()

## pivot_table()函数语法解析

**pivot_table(data, values, index, columns, aggfunc, fill_value, margins, margins_name)**：
- **data**：需要生成数据透视表的 DataFrame
- **values**：要汇总的值
- **index**：透视表行名称
- **columns**：透视表列名称
- **aggfunc**：聚合函数
    - mean：平均值，默认值
    - sum：求和
    - count：计数
    - min：最小值
    - max：最大值
    - 也可以传入自定义函数
- **fill_value**：如果有缺失值时，缺失值的填充值，默认为None
- **margins**：如果设置为True，则会在透视表的最后添加一行和一列，显示行和列的总和或平均值
- **margins_name**：margins为True时，新增行/列的名称

## pivot_table()案例解析

In [9]:
import pandas as pd
import numpy as np

products = ['产品A', '产品B', '产品C', '产品D', '产品E']
regions = ['地区1', '地区2', '地区3', '地区4', '地区5']
sales = np.random.uniform(3000, 10000, size=50)
data = {
    '产品': np.random.choice(products, size=50),
    '地区': np.random.choice(regions, size=50),
    '销售额': sales
}
df = pd.DataFrame(data)

df

     产品   地区          销售额
0   产品A  地区1  7724.792902
1   产品B  地区2  8603.414031
2   产品A  地区1  9208.012443
3   产品D  地区1  4796.145207
4   产品E  地区5  8870.294157
5   产品B  地区4  8100.428192
6   产品B  地区3  6668.954180
7   产品C  地区5  6538.849357
8   产品B  地区1  3722.427186
9   产品D  地区5  5880.334068
10  产品B  地区1  8787.312264
11  产品D  地区4  4647.957663
12  产品A  地区4  5980.355144
13  产品C  地区4  4983.139877
14  产品C  地区4  5458.802189
15  产品E  地区4  9319.930573
16  产品A  地区2  8998.218058
17  产品A  地区4  6321.366351
18  产品B  地区5  8299.888612
19  产品B  地区3  6767.553704
20  产品B  地区3  8625.094602
21  产品B  地区5  8306.027312
22  产品D  地区3  3834.642559
23  产品E  地区4  8776.948662
24  产品A  地区4  9327.064570
25  产品C  地区2  4288.142073
26  产品B  地区3  8856.283125
27  产品C  地区1  3447.005412
28  产品A  地区3  6118.252134
29  产品D  地区2  6821.530042
30  产品C  地区4  3793.407758
31  产品A  地区3  6755.291824
32  产品E  地区1  8113.571398
33  产品A  地区1  8749.157730
34  产品E  地区4  7574.484698
35  产品D  地区2  8213.471612
36  产品A  地区3  3612.871732
37  产品D  地区1  5430.303175
38  产品D  地区1  9638.781065
39  产品C  地区5  7315.518262
40  产品D  地区4  7563.387736
41  产品C  地区5  8173.673088
42  产品C  地区5  6878.204050
43  产品D  地区1  4918.044294
44  产品D  地区5  7035.667689
45  产品D  地区2  8790.320891
46  产品C  地区4  4562.683937
47  产品D  地区5  9507.037733
48  产品D  地区3  6823.514528
49  产品D  地区1  6596.481728

In [16]:
pd.pivot_table(
    data=df,
    values=['销售额'],  # 汇总的值
    index=['产品'],  # 按产品分组
    columns=['地区'],  # 按地区分列
    aggfunc='sum',  # 使用求和聚合函数
    fill_value=0  # 缺失值填充为 0
)

              销售额
地区            地区1           地区2           地区3           地区4           地区5
产品
产品A  25681.963074   8998.218058  16486.415690  21628.786065      0.000000
产品B  12509.739450   8603.414031  30917.885612   8100.428192  16605.915923
产品C   3447.005412   4288.142073      0.000000  18798.033761  28906.244757
产品D  31379.755469  23825.322546  10658.157087  12211.345399  22423.039490
产品E   8113.571398      0.000000      0.000000  25671.363934   8870.294157

## aggfunc

In [17]:
pd.pivot_table(
    data=df,
    values=['销售额'],  # 汇总的值
    index=['产品'],  # 按产品分组
    columns=['地区'],  # 按地区分列
    aggfunc='mean',  # 使用平均值聚合函数
    fill_value=0  # 缺失值填充为 0
)

             销售额
地区           地区1          地区2          地区3          地区4          地区5
产品
产品A  8560.654358  8998.218058  5495.471897  7209.595355     0.000000
产品B  6254.869725  8603.414031  7729.471403  8100.428192  8302.957962
产品C  3447.005412  4288.142073     0.000000  4699.508440  7226.561189
产品D  6275.951094  7941.774182  5329.078543  6105.672699  7474.346497
产品E  8113.571398     0.000000     0.000000  8557.121311  8870.294157

In [18]:
pd.pivot_table(
    data=df,
    values=['销售额'],  # 汇总的值
    index=['产品'],  # 按产品分组
    columns=['地区'],  # 按地区分列
    aggfunc='count',  # 使用计数聚合函数
    fill_value=0  # 缺失值填充为 0
)

    销售额
地区  地区1 地区2 地区3 地区4 地区5
产品
产品A   3   1   3   3   0
产品B   2   1   4   1   2
产品C   1   1   0   4   4
产品D   5   3   2   2   3
产品E   1   0   0   3   1

In [19]:
pd.pivot_table(
    data=df,
    values=['销售额'],  # 汇总的值
    index=['产品'],  # 按产品分组
    columns=['地区'],  # 按地区分列
    aggfunc='max',  # 使用最大值聚合函数
    fill_value=0  # 缺失值填充为 0
)

             销售额
地区           地区1          地区2          地区3          地区4          地区5
产品
产品A  9208.012443  8998.218058  6755.291824  9327.064570     0.000000
产品B  8787.312264  8603.414031  8856.283125  8100.428192  8306.027312
产品C  3447.005412  4288.142073     0.000000  5458.802189  8173.673088
产品D  9638.781065  8790.320891  6823.514528  7563.387736  9507.037733
产品E  8113.571398     0.000000     0.000000  9319.930573  8870.294157

In [6]:
pd.pivot_table(
    data=df,
    values=['销售额'],  # 汇总的值
    index=['产品'],  # 按产品分组
    columns=['地区'],  # 按地区分列
    aggfunc='min',  # 使用最小值聚合函数
    fill_value=0  # 缺失值填充为 0
)

             销售额
地区           地区1          地区2          地区3          地区4          地区5
产品
产品A  8060.352196  3385.017487  3566.225612  6278.819257  4570.713549
产品B  3963.927344  7695.789531  5691.064623  5720.738224  5593.473250
产品C  5870.312909  5047.553804  3581.496196     0.000000  4536.217106
产品D  5004.100818  7390.857823  3642.943714  3402.682203     0.000000
产品E  3129.931472     0.000000  4111.418866  8074.253717  5622.650144

## margins/margins_name

In [20]:
pd.pivot_table(
    data=df,
    values=['销售额'],  # 汇总的值
    index=['产品'],  # 按产品分组
    columns=['地区'],  # 按地区分列
    aggfunc='sum',  # 使用求和聚合函数
    fill_value=0,  # 缺失值填充为 0
    margins=True,
    margins_name='汇总值'
)

              销售额                                                          \
地区            地区1           地区2           地区3           地区4           地区5
产品
产品A  25681.963074   8998.218058  16486.415690  21628.786065      0.000000
产品B  12509.739450   8603.414031  30917.885612   8100.428192  16605.915923
产品C   3447.005412   4288.142073      0.000000  18798.033761  28906.244757
产品D  31379.755469  23825.322546  10658.157087  12211.345399  22423.039490
产品E   8113.571398      0.000000      0.000000  25671.363934   8870.294157
汇总值  81132.034802  45715.096707  58062.458388  86409.957351  76805.494327


地区             汇总值
产品
产品A   72795.382886
产品B   76737.383208
产品C   55439.426003
产品D  100497.619989
产品E   42655.229489
汇总值  348125.041576

## pivot_table()中限定小数位数

创建数据透视表后，可以使用 Pandas 的 round() 方法对结果进行四舍五入，限定小数位数

In [22]:
pd.pivot_table(
    data=df,
    values=['销售额'],  # 汇总的值
    index=['产品'],  # 按产品分组
    columns=['地区'],  # 按地区分列
    aggfunc='sum',  # 使用求和聚合函数
    fill_value=0,  # 缺失值填充为 0
    margins=True,
    margins_name='汇总值'
).round(2)

          销售额
地区        地区1       地区2       地区3       地区4       地区5        汇总值
产品
产品A  25681.96   8998.22  16486.42  21628.79      0.00   72795.38
产品B  12509.74   8603.41  30917.89   8100.43  16605.92   76737.38
产品C   3447.01   4288.14      0.00  18798.03  28906.24   55439.43
产品D  31379.76  23825.32  10658.16  12211.35  22423.04  100497.62
产品E   8113.57      0.00      0.00  25671.36   8870.29   42655.23
汇总值  81132.03  45715.10  58062.46  86409.96  76805.49  348125.04